{% extends 'frontend_bookings/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h2 class="mb-3">Book Room </h2>
            <p><strong>Hotel:</strong> {{ room.hotel.name }}</p>
            <p><strong>Type:</strong> {{ room.room_type }}</p>
            <p><strong>Price per Night:</strong> ₹{{ room.price_per_night }}</p>

            {% if user.is_staff %}
                <div class="alert alert-danger">
                    Admins cannot book rooms.
                </div>
            {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="check_in" class="form-label">Check-in Date</label>
                        <input type="date" class="form-control" id="check_in" name="check_in" required>
                    </div>

                    <div class="mb-3">
                        <label for="check_out" class="form-label">Check-out Date</label>
                        <input type="date" class="form-control" id="check_out" name="check_out" required>
                    </div>

                    <button type="submit" class="btn btn-warning w-100">Book Now</button>
                </form>
            {% endif %}

            {% if message %}
                <div class="alert alert-success mt-3">
                    {{ message }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
